@font-face {
    font-family: "StratosSkyeng";
    src: url("fonts/stratosskyengweb-regular.woff2") format("woff2"),
    url("fonts/stratosskyengweb-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

body {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #004980;
}

.openContent {
    width: 480px;
    height: 459px;
    background: #C2F5FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.button {
    width: 246px;
    height: 50px;
    background: #7AC100;
    border-radius: 12px;
    border: none;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    justify-content: center;
}

.lvlSelection {
    display: flex;
    gap: 24px;
    margin-bottom: 67px;
}

.lvl {
    width: 98px;
    height: 98px;
    background: #FFFFFF;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #0080C1;
}

.openTitle {
    width: 208px;
    height: 96px;
    margin-top: 52px;
    margin-bottom: 48px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
}